html,
/* NAVBAR */
.nav-link{
    font-family: var(--tds-font-family--combined,--tds-base-font_family,system);
    font-size: 20px;
    --tds-size--half:60px;
    --tds-font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --tds-base-font_size:var(--tds-font-size--30);
}   
/* --------------------------------------------------------------------------------------------------------- */

/* LOGO */
.logo
{
  height: 44px;
  width: 100;

}
/* --------------------------------------------------------------------------------------------------------- */

/*DONATION BUTTON */

.donate-btn {
    height: 10px;
    width: 115px;
    font-family: var(--tds-font-family--combined,--tds-base-font_family,system);;
    font-display: 100px;
    text-align: center;
    padding-bottom: 40px;
    border-radius: 25px;  
    background-color: #3DB2FF;
    border-color:#3DB2FF;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------- */

/*BACKGROUND */

.back{
  background-color: #122349;
  background-image: url('/static/websiteback.png');
  background-attachment: fixed;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
/* --------------------------------------------------------------------------------------------------------- */

/* ABOUT US*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif; 
  color:white;
 
}
h1{
  font-size: 1rem;
}






