html,
/* NAVBAR */
.nav-link{
  font-family: 'Assistant', sans-serif;
    font-size: 20px;
    --tds-size--half:60px;
    --tds-font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --tds-base-font_size:var(--tds-font-size--30);
}   


/* --------------------------------------------------------------------------------------------------------- */

/* LOGO */
.logo
{
  height: 44px;
  width: 100;

}
/* --------------------------------------------------------------------------------------------------------- */

/*DONATION BUTTON */

.donate-btn {
    height: 10px;
    width: 125px;
    font-family: 'Assistant', sans-serif;
    font-display: 100px;
    text-align: center;
    padding-bottom: 40px;
    border-radius: 25px;  
    background-color: #3DB2FF;
    border-color:#3DB2FF;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------- */

/*BACKGROUND */

.back{
  background-color: #122349;
  background-image: url('/static/websiteback.png');
  background-attachment: fixed;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
/* --------------------------------------------------------------------------------------------------------- */

/* h1's*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif; 
  color:white;
 
}
h1{
  font-size: 5rem;
}
.game-headings{
  margin-top: 5px;width: 375.5px;font-size: 43.3px;font-family: 'Bebas Neue', cursive;color: rgb(0,42,59);
}
p{
  color: rgb(199, 199, 199);
}

/* --------------------------------------------------------------------------------------------------------- */

/* containers */
.games-container{
  box-shadow: 2px 8px 20px 1px;
  border-radius: 12px;
  background: #d3d3d3;
  width: auto;
  max-width: 1000px;
  margin-bottom: 3rem;
}

/* --------------------------------------------------------------------------------------------------------- */

/* images */

.img-div{
  overflow: hidden;
  margin-top: 12px;
  width: auto;
  width: auto;
}

.img{
  width: 100%;
  min-width: auto;
  max-width: 50rem; 
  border-radius: 5px;
}
.col-head{
  padding-left: 13px;
  text-align: left;
  width: 400px;
  padding-right: 12px;
  margin-top: 0px;
  margin-bottom: 12px;
}
.col-btn{
  text-align: right;
  padding-right: 12px;
  padding-left: 0px;
  width: 250px;
  margin-bottom: 12px;
}
.download-btn{
  margin-top: 12px;
  width: 163.5px;
  background: linear-gradient(9deg, var(--bs-blue) 0%, #2e5184 100%);
  border-radius: 19;
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
}
/* --------------------------------------------------------------------------------------------------------- */
/* about */
.row-ab::before{
  content:'';
  height: 100%;
  width: 100%;
  /* background-image:url(/static/562199-cool-us-navy-background-1920x1080-for-tablet.jpg); */
  background-color: yellowgreen;
  opacity:0.5;
  z-index:-1;
}

.row-about{
  text-align: center;
  margin-top: 174px;
  margin-bottom: 130px;
  border-radius: 15px;
  height: 390px;
}
.name{
  font-size: 1.5rem;
  margin-top: 18px;
 
}
.team-cards{
  text-align: center;
  margin-top: 31px;
  margin-bottom: 63px;
}