{% extends 'base.html' %}

{% block title %}About us{% endblock title %} 



{% block body %}




<div class="container">

  <div class="row row-about">
    <div class="col-md-12" style="height: 349px;margin-top: 24px;">
        <h1>IT IS ALL ABOUT</h1>
        <h4>MAKING A CHANGE! </h4>
    </div>
</div>
  <div class="row row-about">
      <div class="col-md-12" style="height: 349px;margin-top: 24px;">
          <h1 >WHAT WE DO?</h1>
          <h4 >WE ARE A COMPNAY OF BUNCH OF PEOPLE WHO MAKES GAMES , WEBSTES AND DISITAL ART</h4>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col" style="text-align: center;">
          <h1>TEAM</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 team-cards"><img src="/static/me.png" style="height: 163px;" />
          <h1 class="name">Rajvendra Rahi</h1>
          <p>LEADER</p>
          <p>HEY, I MAKE GAMES</p>
      </div>
      <div class="col-md-4 team-cards"><img src="/static/me.png" style="height: 163px;" />
        <h1 class="name">Rajvendra Rahi</h1>
        <p>LEADER</p>
        <p>HEY, I MAKE GAMES</p>
    </div>
    <div class="col-md-4 team-cards"><img src="/static/me.png" style="height: 163px;" />
      <h1 class="name">Rajvendra Rahi</h1>
      <p>LEADER</p>
      <p>HEY, I MAKE GAMES</p>
  </div>
  </div>
</div>
  

















<!-- 
<div class="container">
  <div class="row" style="text-align: center;margin-top: 174px;margin-bottom: 158px;">
      <div class="col-md-12" style="height: 264px;margin-top: 96px;">
          <h2 style="font-size: 78.88px;text-align: center;color: rgb(228, 228, 228);;font-family: Catamaran, sans-serif;">IT'S ALL ABOUT&nbsp;</h2>
          <h1 style="color: rgb(255, 255, 255);font-family: Catamaran, sans-serif;">MAKING A CHANGE!<br></h1>
      </div>
  </div>
  <div class="row" style="text-align: center;margin-top: 174px;margin-bottom: 130px;border-radius: 15px;">
      <div class="col-md-12" style="height: 349px;margin-top: 24px;">
          <h2 style="font-size: 78.88px;text-align: center;color: rgb(255, 255, 255);font-family: Catamaran, sans-serif; margin-top: 2rem;">WHAT WE DO?&nbsp;</h2>
          <h1 style="color: rgb(255, 255, 255);font-family: Catamaran, sans-serif;margin-top: 13px;">WE ARE A COMPNAY OF BUNCH OF PEOPLE WHO MAKES&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GAMES , WEBSTES AND DISITAL ART<br><br>&nbsp; &nbsp;&nbsp;<br></h1>
      </div>
  </div>



  

</div>

<section>
  <div class="container ">
      <div class="row row-section-about" style="">
          <div class="col col-section-about" style="">
              <div style="margin-right: 520px;text-align: center;padding: 30px;"><img style="margin-top: 22px;width: 163px;margin-bottom: 21px;" src="/static/me.png" />
                  <h1 style="font-size: 23px;color: rgb(255,255,255);width: 160px;">Rajvendra rahi</h1>
                  <p style="color: rgb(252,252,252);width: 160px;">Leader</p>
                  <p style="width: 160px; color: rgb(252,252,252);">hey, i like making video games.</p>
              </div>
          </div>
          <div class="col col-section-about" style="">
              <div style="margin-right: 520px;text-align: center;padding: 30px;"><img style="margin-top: 22px;width: 163px;margin-bottom: 21px;" src="/static/me.png" />
                  <h1 style="font-size: 23px;color: rgb(255,255,255);width: 160px;">Rajvendra rahi</h1>
                  <p style="color: rgb(252,252,252);width: 160px;">Leader</p>
                  <p style="width: 160px; color: rgb(252,252,252);">hey, i like making video games.</p>
              </div>
          </div>
          <div class="col col-section-about" style="">
              <div style="margin-right: 520px;text-align: center;padding: 30px;"><img style="margin-top: 22px;width: 163px;margin-bottom: 21px;" src="/static/me.png" />
                  <h1 style="font-size: 23px;color: rgb(255,255,255);width: 160px;">Rajvendra rahi</h1>
                  <p style="color: rgb(252,252,252);width: 160px;">Leader</p>
                  <p style="width: 160px;color: rgb(252,252,252); ">hey, i like making video games.</p>
              </div>
          </div>
      </div>
  </div>
</section> -->
{% endblock body%}