{% extends 'base.html' %}

{% block title %}About us{% endblock title %} 



{% block body %}

<!-- <div id="ake" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="text-white">IT'S ALL ABOUT</h1>
      <h2 class="text-white">MAKING A CHANGE!</h2>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="text-white">WHAT WE DO?</h1>
        <h2 class="text-white">WE ARE A COMPNAY OF BUNCH OF PEOPLE WHO MAKES 
            GAMES , WEBSTES AND DISITAL ART
        </h2>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
</div>


<div class="position-relative overflow-hidden " id="bgimg">
    <div class="col-md-5 p-lg-5 mx-auto my-5 d-flex justify-content-evenly ">
        <div  class="col-lg-4 text-white me-5">
          <div class="about">
            <img class="rounded-circle" src="/static/Screenshot 2021-02-25 122546 (2).png" alt="">
          </div>
    
            <h2>Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div>
          <div class="col-lg-4 text-white me-5">
            <div class="about">
              <img class="rounded-circle" src="/static/Screenshot 2021-02-25 122546 (2).png" alt="">
            </div>
    
            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div>
          <div class="col-lg-4 text-white nme-3">
            <div class="about">
              <img class="rounded-circle" src="/static/Screenshot 2021-02-25 122546 (2).png" alt="">
            </div>
    
            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div>
        
    
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
</div> -->



<div class="container about-container">
  <div class="row row-about" style="">
      <div class="col-md-12 col-about" style="">
          <h2 style="font-size: 78.88px;text-align: center;color: rgb(228, 228, 228);;font-family: Catamaran, sans-serif;">IT'S ALL ABOUT&nbsp;</h2>
          <h1 style="color: rgb(255, 255, 255);font-family: Catamaran, sans-serif;">MAKING A CHANGE!<br></h1>
      </div>
  </div>
  <div class="row" style="">
      <div class="col-md-12" style="height: 349px;margin-top: 24px;">
          <h2 class= "Heading2" style="">WHAT WE DO?&nbsp;</h2>
          <h1 class= "Heading1" style="">WE ARE A COMPNAY OF BUNCH OF PEOPLE WHO MAKES&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GAMES , WEBSTES AND DISITAL ART<br><br>&nbsp; &nbsp;&nbsp;<br></h1>
      </div>
  </div>



  

</div>

<section>
  <div class="container ">
      <div class="row row-section-about" style="">
          <div class="col col-section-about" style="">
              <div style="margin-right: 520px;text-align: center;padding: 30px;"><img style="margin-top: 22px;width: 163px;margin-bottom: 21px;" src="/static/me.png" />
                  <h1 style="font-size: 23px;color: rgb(255,255,255);width: 160px;">Rajvendra rahi</h1>
                  <p style="color: rgb(252,252,252);width: 160px;">Leader</p>
                  <p style="width: 160px; color: rgb(252,252,252);">hey, i like making video games.</p>
              </div>
          </div>
          <div class="col col-section-about" style="">
              <div style="margin-right: 520px;text-align: center;padding: 30px;"><img style="margin-top: 22px;width: 163px;margin-bottom: 21px;" src="/static/me.png" />
                  <h1 style="font-size: 23px;color: rgb(255,255,255);width: 160px;">Rajvendra rahi</h1>
                  <p style="color: rgb(252,252,252);width: 160px;">Leader</p>
                  <p style="width: 160px; color: rgb(252,252,252);">hey, i like making video games.</p>
              </div>
          </div>
          <div class="col col-section-about" style="">
              <div style="margin-right: 520px;text-align: center;padding: 30px;"><img style="margin-top: 22px;width: 163px;margin-bottom: 21px;" src="/static/me.png" />
                  <h1 style="font-size: 23px;color: rgb(255,255,255);width: 160px;">Rajvendra rahi</h1>
                  <p style="color: rgb(252,252,252);width: 160px;">Leader</p>
                  <p style="width: 160px;color: rgb(252,252,252); ">hey, i like making video games.</p>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock body%}