{% extends 'base.html' %}

{% block title %}Contact us{% endblock title %} 

{% block body %} 

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;margin-top: 49px;">
            <div>
                <h1>WORK WITH US!</h1>
                <h4>GROW WITH US</h4>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 145px;">
        <div class="col-md-3 offset-md-1 offset-lg-2 offset-xxl-3" style="text-align: center;width: 150px;"><img src="/static/linked.png" /></div>
        <div class="col-md-3" style="text-align: center;width: 150px;"><img src="/static/bird.png" /></div>
        <div class="col-md-3" style="text-align: center;width: 150px;"><img src="/static/insta.png" /></div>
        <div class="col-md-3" style="text-align: center;width: 150px;"><img src="/static/mail.png" /></div>
    </div>
</div>


<!-- <div class="" style="text-align: center;width: 150px;"><img src="003-linkedin.png" /></div> -->
    
{% endblock body %}