{% extends 'base.html' %}

{% block title %}Contact us{% endblock title %} 

{% block body %} 
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,
               initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css" 
          class="css" />
<div id="contact" >

    <a href="https://www.facebook.com/aman.kapil.756" class="fa fa-facebook rounded-circle"></a>
    <a href="https://www.instagram.com/invites/contact/?i=ms45o1q1ip8l&utm_content=2vk3di6" class="fa fa-instagram  rounded-circle"></a>
    <a href="https://www.linkedin.com/in/aman-kapil-750640200" class="fa fa-linkedin  rounded-circle"></a>
    <a href="https://youtube.com/c/BuiLderBroz" class="fa fa-youtube  rounded-circle"></a>
    <!-- <h1>hiii</h1> -->
</div>


    
{% endblock body %}