{% extends 'base.html' %}

{% block title %}Contact us{% endblock title %} 

{% block body %} 

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center;margin-top: 49px;">
            <div>
                <h1>WORK WITH US!</h1>
                <h4>GROW WITH US</h4>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 145px;">

        <div class="col-md-3 offset-md-1 offset-lg-2 offset-xxl-3 contact-us-icons">
        <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218">
            <img data-bss-hover-animate="pulse"  src="/static/linked.png" />
         </a>
        </div>

      <div class="col-md-3 contact-us-icons" style="">
        <a href="https://twitter.com/BuiLderBros3" target="_blank">
          <img data-bss-hover-animate="pulse" src="/static/bird.png" />
        </a>
        </div>

        <div class="col-md-3 contact-us-icons" >
       <a href="https://www.instagram.com/builder_broz_/" target="_blank">
            <img data-bss-hover-animate="pulse" src="/static/insta.png" />
        </a>
        </div>

       <div class="col-md-3 contact-us-icons">
       <a href="https://mail.google.com/mail/?view=cm&fs=1&to=builderbrosinc706@gmail.com" target="_blank">
            <img data-bss-hover-animate="pulse" src="/static/mail.png" /></div>
       </a>
    </div>
    
</div>

    
{% endblock body %}