{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 

{% block body %}    


<div class="container" style="box-shadow: 2px 8px 20px 1px;border-radius: 12px;background: #d3d3d3;width: auto;max-width: 1000px;">
    <div class="row" style="margin-top: 1rem;">
        <div class="col-md-12" style="overflow: hidden;margin-top: 12px;width: auto;"><img src="/static/dbsss.jpg" style="width: 100%;min-width: auto;max-width: 50rem; border-radius: 5px;"></div>
    </div>
    <div class="row">
        <div class="col" style="padding-left: 13px;text-align: left;width: 400px;padding-right: 12px;margin-top: 0px;margin-bottom: 12px;">
            <h1 style="margin-top: 5px;width: 375.5px;font-size: 43.3px;font-family: 'Bebas Neue', cursive;color: rgb(0,42,59);">DEAD BY SHOT</h1>
        </div>
        <div class="col" style="text-align: right;padding-right: 12px;padding-left: 0px;width: 250px;margin-bottom: 12px;"><button class="btn btn-primary" type="button"  style="margin-top: 12px;width: 163.5px;background: linear-gradient(9deg, var(--bs-blue) 0%, #2e5184 100%);border-radius: 19;text-align: center;font-family: 'Black Han Sans', sans-serif;">DOWNLOAD</button> </div>
    </div>
</div>

<!-- <div class="containe">
  
    <img src="/static/dbsss.jpg"alt="">
    <a href="https://play.google.com/store/apps/details?id=com.BulderBros.DeadByShot">
        <button type="button" class="download-btn">DOWNLOAD</button>
    </a>

</div>
<div class="containe">
    <img src="/static/photo_2021-12-11_20-52-55.jpg"alt="">
    
    <a href="https://play.google.com/store/apps/details?id=com.BulderBros.DeadByShot">
        <button type="button" class="download-btn">DOWNLOAD</button>
    </a>
   
</div> -->


{% endblock body%}