{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 

{% block body %}  

<div class="aman">
  <!-- {% comment %} <div class="container"> {% endcomment %} -->
      <div class="dbs-div ">
       
          <!-- Stack the columns on mobile by making one full-width and the other half-width -->
          <div class="row">
            <div class="col-md-8">
              <img src="/static/dbs.jpg" alt="">

            </div>
            <div class="col-6 col-md-4" id="pera" >
              <span>
                <h1 class="heading">DEAD BY SHOT</h1>
                <P class="peragraph">dead by shot is a frist person game we all are make it very pretty you are direct Download it by clicking below the Download button</P>
              </span>
              <div class=" in-div" id="dd" >
                <a class="btn btn-primary" id="button" href="#">Download</a>
                {% comment %} <a class="btn btn-outline-secondary" id="more" href="#">More...</a> {% endcomment %}
              </div>
            </div>
        
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </div>
  <div class="dbs-div ">
    <!-- <div class="container-fluid in-div"  >
      <a class="btn btn-primary" href="#">Download</a>
      <a class="btn btn-outline-secondary" href="#">More...</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div> -->
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>



{% endblock body%}