{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 

{% block body %}    


<div class="container games-container">
    <div class="row" style="  margin-top: 2rem;">
        <div class="col-md-12 img-div"><img class="img" src="/static/dbsss.jpg" style=""></div>
    </div>
    <div class="row">
        <div class="col col-head" style="">
            <h1 class="game-headings">DEAD BY SHOT</h1>
        </div>
        <div class="col col-btn" style=""><button class="btn btn-primary download-btn" type="button"  style="">DOWNLOAD</button> </div>
    </div>
</div>

<div class="container games-container ">
    <div class="row" style="  margin-top: 2rem;">
        <div class="col-md-12 img-div "><img class="img" src="/static/thekey.jpg" style=""></div>
    </div>
    <div class="row">
        <div class="col col-head" style="">
            <h1 class="game-headings">THE KEY</h1>
        </div>
        <div class="col col-btn" style=""><button class="btn btn-primary download-btn" type="button"  style="">DOWNLOAD</button> </div>
    </div>
</div>


<!-- <div class="containe">
  
    <img src="/static/dbsss.jpg"alt="">
    <a href="https://play.google.com/store/apps/details?id=com.BulderBros.DeadByShot">
        <button type="button" class="download-btn">DOWNLOAD</button>
    </a>

</div>
<div class="containe">
    <img src="/static/photo_2021-12-11_20-52-55.jpg"alt="">
    
    <a href="https://play.google.com/store/apps/details?id=com.BulderBros.DeadByShot">
        <button type="button" class="download-btn">DOWNLOAD</button>
    </a>
   
</div> -->


{% endblock body%}