{% extends 'base.html' %}

{% block title %}Services{% endblock title %} 

{% block body %}

{% endblock body%}
.containe button{
    margin-bottom: 59px;
    margin-left: 1392px;
  }
  .containe button{
    margin-bottom: 59px;
    margin-left: 1392px;
  }

.containe{
  /* display:flex; */
  height: 50%;
}
@media (max-width:777px) {
  .containe button{
    margin-left:412px

    }
  }


.containe img{
  /* margin-left:140px; */
  margin-bottom: -91px;
  height: 670px;
  width: 1515px;
}

@media (max-width:777px) {
 .containe img{
   /* margin-right: 100px; */
   /* width: 105%; */
   /* margin-left: 36px; */
  }
 }