{% extends 'base.html' %}

{% block title %}Download{% endblock title %} 

{% block body %}
<script>
  // var name;
  // var amount;
	// var settings = {
  // "url": "https://cros-anywhere.herokuapp.com/https://api.razorpay.com/v1/payments/",
  // "method": "GET",
  // "timeout": 0,
  // "headers": {
    // "Authorization": "Basic cnpwX2xpdmVfY3h5UmY0eGltY2hKSWw6Tm9PMWVIOWc4dTMzSmUya2ZTU1FFUW5B"
  // },
// };








// $.ajax(settings).done(function (response) {
  // response.items[0].status;


  // let amount = response.data["items"][0].amount;
  //   response.items.forEach(element => { 
  //     if (element.status != "failed") {
  //       console.log(element.notes.name)
  //       console.log(element.amount);
  //    }
  //  });

  
// });
  </script>
{% for sup in supoters%}
<div class="container" style="text-align: center; background-color: rgb(0, 0, 0);">
  <div style="">
  <h1>{{sup.name}}</h1>
  <!-- <h3>{{highest}}</h3> -->
  <h4>{{sup.amount}}</h4>
  </div>
</div>

{% endfor %}
{% endblock body%}